{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% if wrong_interval %}
        {% if wrong_interval %}
            Прогноз погоды может быть не достаточно точным
        {% endif %}
    {% endif %}
    <canvas id="myChart" width="800" height="800" style="width: 800px; height: 800px;"></canvas>
    <script src="Chart.bundle.js"></script>
    <script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{labels|json_encode|raw}},
            datasets: [{
                label: 'Погода',
                data: {{values|json_encode|raw}},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                ],
                fill: false,
                borderWidth: 1
            }]
        },
        options: {
            responsive: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>
{% endblock %}
